
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <header class="blog-header py-3">

      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Formation</h1>
          <p class="lead my-3">Nom de la formation</p>
        </div>
      </div>

      <br>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Design</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Post title</a>
              </h3>
              <div class="mb-1 text-muted">Nov 11</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            From the Firehose
          </h3>

      
          </div><!-- /.blog-post -->

            <hr>
          <div class="blog-post">
            <h2 class="blog-post-title"> Commentaire </h2>
            <% if @comments.nil? %>
            <% find_comment.each do |comment| %>
            <p class="blog-post-meta"> crée à <%= comment.updated_at %> <a href="#"> par <%= comment.user_id %> </a></p>

            <p> <%= comment.content %> </p>
           
            	<%end%>

            <%else %>

              <p> pas encore de commentaires </p>

            <%end%>

            
          </div><!-- /.blog-post -->

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">respond</a>
              <%= link_to 'Nouveau commentaire', new_comment_path, class:"btn btn-outline-primary" %> |
          </nav>

        </div><!-- /.blog-main -->

         
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>











<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>

<p>
  <strong>Has diploma:</strong>
  <%= @course.has_diploma %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Is remote:</strong>
  <%= @course.is_remote %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @course.adress %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @course.zip_code %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @course.image_url %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @course.duration %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>Duration scale:</strong>
  <%= @course.duration_scale %>
</p>

<h3>Picture</h3>
	<%if @course.picture.attached?%>
 		 <%= image_tag @course.picture, alt: 'image' %>
	<%else%>
  		<p>=== There aren't any pictures linked to this item yet ===</p>
	<%end%>

  <h3>Add or modify the picture ?</h3>
  <%= form_tag course_picture_path(@course), multipart: true, :method => :patch  do %>
    <%= file_field_tag :picture %>
    <%= submit_tag "mettre à jour" %>
	<%end%>



<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
